#carouselExampleCaptions {
    height: 50%;
}

.carousel-item img {
    height: 600px;
}

.carousel-caption h5, p {
    color: black;
}

/* Making Images Transparent */
/*
.transparent-img {
    opacity: 0.5;
}*/